@use 'src/styles/constants/colors';

.searchForm {
  position: absolute;
  top: 85px;
  z-index: 10;
  box-sizing: border-box;
  width: calc(100%);
  padding: 0 20px 20px;
  background-color: colors.$WHITE;

  input {
    width: 100%;
    padding: 5px 15px;
    background-color: colors.$GRAYF1;
  }
}
