// Grayscale
$BLACK: #000000;
$WHITE: #ffffff;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;
$GRAY01: #d9d9d9;
$GRAY02: #7d7d79;
$GRAYF1: #f1f1f1;

$BG_COLOR: #e6eaed80;
$SHADOW: #00000026;

// HOME PAGE
$GOAL_BG: #faedae;
$GOAL_THEME: #f7ab00;
$TRAINING_BG: #ffd7dd;
$TRAINING_THEME: #d30a26;
$HISTORY_BG: #defecb;
$HISTORY_THEME: #7fc062;
$SETTINGS_BG: #eeeeee;
$SETTINGS_THEME: #8d8d8d;
