// Grayscale
$BLACK: #000000;
$WHITE: #ffffff;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;
$GRAY01: #d9d9d9;
$GRAY02: #7d7d79;
$GRAYF1: #f1f1f1;

$BG_COLOR: #e6eaed80;
$SHADOW: #00000026;

// HOME PAGE
$GOAL_BG: #fff0e5;
$GOAL_THEME: #ff6c03;
$TRAINING_BG: #eceaff;
$TRAINING_THEME: #551fff;
$HISTORY_BG: #e6f7ff;
$HISTORY_THEME: #00a3ee;
$SETTINGS_BG: #eeeeee;
$SETTINGS_THEME: #8d8d8d;
