.headerNavigation {
  display: flex;
  align-items: center;
  padding: 20px 25px 15px;

  .backBtn {
    flex: 1;
  }

  .userInfo {
    display: flex;
    align-items: center;

    svg {
      width: 50px;
      height: 50px;
      margin-right: 3px;
    }
  }
}
