@use 'src/styles/constants/colors';

.searchHeader {
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: colors.$WHITE;
}

.searchMain {
  height: 800px;
  padding: 0 20px 20px;
  overflow: scroll;
}
