@use 'src/styles/constants/colors';

.searchHeader {
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: colors.$WHITE;
}

.trainingMain {
  height: 100%;
  padding: 145px 20px 30px;
  overflow: scroll;
}
